spring:
  datasource:
    url: jdbc:h2:mem:product-crud
    username: postgres
    password: Virak@123
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console