server:
  port: 8080

spring:
  application:
    name: PRODUCT-CRUD

  datasource:
    url: jdbc:h2:mem:productcruddb
    driver-class-name: org.h2.Driver
    username: virak
    password: root

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  jackson:
    property-naming-strategy: SNAKE_CASE

  liquibase:
    change-log: classpath:db/changelog/master.yaml